# Enable the rewrite engine
RewriteEngine On

# Set the base URL for the application
RewriteBase /sankharagroup.com/

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Optionally, redirect .php URLs to non-.php URLs
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]
